@font-face {
  font-family: openSans;
  src: url("https://resume-e.herokuapp.com/fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: openSansBold;
  src: url("https://resume-e.herokuapp.com/fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: openSansItalic;
  src: url("https://resume-e.herokuapp.com/fonts/OpenSans-LightItalic.ttf");
}

body {
  margin: 0.4cm 1.2cm 0.4cm 1.2cm;
  color: black;
  font-family: openSans;
}

#name {
  margin: 0;
  text-align: center;
  color: black;
  font-size: 40px;
}

#email {
  margin: 0;
  text-align: center;
}

#phone {
  margin: 0;
  text-align: center;
}

.title {
  margin-bottom: 5px;
  margin-top: 5px;
}

.item-title {
  font-family: openSansBold;
  margin: 0;
}

.item-date {
  font-family: openSansItalic;
  margin: 0;
}

.item-text2 {
  margin: 0;
  font-family: opensans;
}

.notes {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0.3cm;
  font-family: opensans;
}

