@font-face {
  font-family: seriflight;
  src: url("https://resume-e.herokuapp.com/fonts/SourceSerifPro-Light.ttf");
}

@font-face {
  font-family: seriflight_italic;
  src: url("https://resume-e.herokuapp.com/fonts/SourceSerifPro-LightItalic.ttf");
}

@font-face {
  font-family: source_serif;
  src: url("https://resume-e.herokuapp.com/fonts/SourceSerifPro-Regular.ttf");
}

@font-face {
  font-family: source_serif_bold;
  src: url("https://resume-e.herokuapp.com/fonts/SourceSerifPro-Bold.ttf");
}

@page {
  margin: 0.5in;
}

body {
  color: black;
  font-family: seriflight
}

#name {
  font-family: source_serif;
  margin: 0;
  text-align: center;
  color: black;
  font-size: 35px;
}

#email {
  margin: 0;
  text-align: center;
}

#phone {
  margin: 0;
  text-align: center;
}

.title {
  margin-bottom: 5px;
  margin-top: 10px;
}

.item-title {
  margin-bottom: 0;
  font-size: 16px;
}

.item-date {
  font-size: 14px;
}

.item-text2 {
  font-family: seriflight_italic;
  margin: 0;
  margin-top: 5px;
  font-size: 14px;
  margin-bottom: 10px;
}

.notes {
  font-family: seriflight;
  padding-top: none;
  margin: 0;
  font-size: 14px;
}

ul {
  padding-top: none;
  margin-top: 0;
  margin-bottom: 0;
}

li {
  margin-bottom: 0;
  padding-top: 0;
  margin: 0;
}

p {
  margin: 0;
}

.skill {
  width: fit-content;
  height: fit-content;
  font-family: seriflight;
  font-size: 14px;
  
}

.item {
  margin-top: 10px;
}

strong {
  font-family: source_serif_bold;
}

em {
  font-family: seriflight_italic;
}