<html>
  <head>
   <link
   rel="stylesheet"
   href="https://resume-e.herokuapp.com/styles/basic.css"
   />
  </head>
  <body>
     <div id = 'info'>
         <h1 id="name">Nishan Soni</h1>
         <div id = 'contact'>
            <span>587-834-1709</span><span>nishan.soni2@gmail.com</span>
         </div>
         
     </div>
    
    <h2 id="work-experience">Work Experience</h2>
    <h2 id="education">Education</h2>
    <h2 id="skills">Skills</h2>
    <h2 id="projects">Projects</h2>
  </body>
</html>
