<html>
  <head>
    <!--
      <link
      rel="stylesheet"
      href="../public/styles/basic.css"
    />
    -->
    <link
      rel="stylesheet"
      href="https://resume-e.herokuapp.com/styles/basic.css"
    />
  </head>
  <body>
    <div id="info">
      <h1 id="name">Nishan Soni</h1>
      <h4 id="email">nishan.soni2@gmail.com</h4>
      <h4 id="phone">587-834-1709</h4>
    </div>
    <div id="container">

      <div id = work-container>
        <h3 class = 'title' id = 'work-experience'>{{employment.title}}</h3>
        <hr size="0.2mm" color="#e85a4f">
      </div>

      <div id = education-container>
        <h3 class="title">Education</h3>
        <hr size="0.2mm" color="#e85a4f">
      </div>

      <div id = 'skills-container'>
        <h3 class ="title">Skills</h3>
        <hr size="0.2mm" color="#e85a4f">
      </div>

      <div id = 'projects-container'>
        <h3 class ="title">Projects</h3>
        <hr size="0.2mm" color="#e85a4f">
      </div>

    </div>
  </body>

  <script>
    if (document.getElementById('work-experience').textContent === "") {
      document.getElementById('work-container').style.display = 'none'
    }
  </script>
</html>
