<html>
  <head>
    <!--
      <link
      rel="stylesheet"
      href="../public/styles/basic.css"
    />
    -->
    <link
      rel="stylesheet"
      href="https://resume-e.herokuapp.com/styles/basic.css"
    />
  </head>
  <body>
    <div id="info">
      <h2 id="name">{{info.fname}} {{info.lname}}</h1>
      <h5 id="email">{{info.email}}</h5>
      <h5 id="phone">{{info.phone}}</h5>
    </div>

    <div id="container">

      <div id = work-container>
        <h3 class = 'title' id = 'work-experience'>{{employment.title}}</h3>
        <hr size="0.2mm" color="{{color}}">
        <div>
          {{#each employment.array}}
          <h5 style = 'margin: 0;' ><span class="item-title">{{this.text1}} </span><span class="item-text2">| {{this.text2}}</span></h5>
          <h6 class = 'item-date'>{{this.start}} - {{this.end}}</h6>
          <div>
            {{#each this.notes}}
            <h6 class="notes">- {{this}}</h6>
            {{/each}}
          </div>
          {{/each}}
        </div>
      </div>

      <div id = education-container>
        <h3 class="title" id = 'education'>{{education.title}}</h3>
        <hr size="0.2mm" color="{{color}}">
        <div>
          {{#each education.array}}
          <h5 style = 'margin: 0;' ><span class="item-title">{{this.text1}} </span><span class="item-text2">| {{this.text2}}</span></h5>
          <h6 class = 'item-date'>{{this.start}} - {{this.end}}</h6>
          <div>
            {{#each this.notes}}
            <h6 class="notes">- {{this}}</h6>
            {{/each}}
          </div>
          {{/each}}
        </div>
      </div>

      <div id = 'skills-container'>
        <h3 class ="title" id = 'skills'>{{skills.title}}</h3>
        <hr size="0.2mm" color="{{color}}">
        <div>
          {{#each skills.array}}
          <span class="skill" style="background-color:{{color}}">{{this}}</span>
          {{/each}}
        </div>
      </div>

      <div id = 'projects-container'>
        <h3 class ="title" id = 'projects'>{{projects.title}}</h3>
        <hr size="0.2mm" color="{{color}}">
        <div>
          {{#each projects.array}}
          <h5 style = 'margin: 0;' ><span class="item-title">{{this.text1}}</span><span class="item-text2"> {{this.text2}}</span></h5>
          <div>
            {{#each this.notes}}
            <h6 class="notes">- {{this}}</h6>
            {{/each}}
          </div>
          {{/each}}
        </div>
      </div>

    </div>
  </body>

  <script>
    if (document.getElementById('work-experience').textContent === "") {
      document.getElementById('work-container').style.display = 'none'
    }
    if (document.getElementById('education').textContent === "") {
      document.getElementById('education-container').style.display = 'none'
    }
    if (document.getElementById('skills').textContent === "") {
      document.getElementById('skills-container').style.display = 'none'
    }
    if (document.getElementById('projects').textContent === "") {
      document.getElementById('projects-container').style.display = 'none'
    }
  </script>
</html>
